# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code

FIREBASE_API_KEY=insertvalue
FIREBASE_AUTH_DOMAIN=insertvalue
FIREBASE_DATABASE_URL=insertvalue
FIREBASE_PROJECT_ID=insertvalue
FIREBASE_STORAGE_BUCKET=insertvalue
FIREBASE_MESSAGING_ID=insertvalue
FIREBASE_APP_ID=insertvalue
FIREBASE_MEASUREMENT_ID=insertvalue

STRIPE_SECRET_KEY=insertvalue