rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /raffle/{ticket} {
    	allow read, write: if request.auth != null 
      	&& (request.auth.token.admin || resource.data.person == request.auth.token.email)
    }
    match /winners/{document=**} {
    	allow read, write: if request.auth != null && request.auth.token.admin 
    }
  }
}